body {
  background-color: #f5f5f7;
  color: #000;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  margin: 0;
}

.accordion {
  background-color: #f3f5fc;
  color: #000;
  cursor: pointer;
  padding: 24px 15px 18px 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: background-color 0.1s ease;
  font-family: "poppins", sans-serif;
  width: 90%;
  font-weight: 500;
}

.first-q {
  border-radius: 15px 15px 0 0;
}

.panel {
  color: #141414de;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease;
  margin-bottom: 4px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  border-radius: 0 0 15px 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.panel.show {
  max-height: 500px; /* Adjust this value based on your content */
}

.blue-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 18px;
  margin: 1% 5%;
  background-color: #fff;
  padding: 5% 0;
}

.faq-head {
  font-weight: 300;
  color: #000;
  font-size: 40px;
  margin-bottom: 28px;
  margin-top: 0;
}

.sac-head {
  font-size: 20px;
  color: #5f6268;
  font-weight: 400;
}

.black-jossa {
  border: 1px solid #000;
  border-radius: 6px;
  background-color: transparent;
  padding: 3px 6px;
  color: black;
  font-size: 13px;
  font-weight: 500;
  font-family: monospace;
  display: flex;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 18px;
  align-items: center;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-top: 3%;
}

.link-box {
  width: 95%;
  padding: 5% 0;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0;
  width: 100%;
}

.note {
  padding: 0;
  margin-top: 4px;
  font-size: 16px;
  color: #73767b;
}

.imp-docs-head {
  margin-bottom: 0;
  font-size: 24px;
  margin: 0;
}

.doc-links a {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #0066cc;
}

.doc-links a:hover {
  text-decoration: underline;
}

.whatsapp-link-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.punchline-of-have-a-q {
  text-align: center;
  font-size: 20px;
  margin: 0;
  word-wrap: break-word;
}

.have-a-q {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.whatsappp-icon-btn {
  border-radius: 5px;
  padding: 8px 20px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0);
  transition: all 1.5s;
}

.whatsappp-icon-btn:hover {
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

.whatsapp-link {
  padding: 10vh 0;
}

.whatsapp-icon-box {
  margin-right: 10px;
}

.fa-whatsapp {
  font-size: 20px;
}

.fa-chevron-down {
  color: #73767b;
}

.social-icon {
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  padding: 0;
}

.socio-link {
  font-size: 20px;
  color: #73767b;
  cursor: pointer;
  padding: 0;
  margin-right: 15px;
  text-decoration: none;
}

.punchline-footer {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #73767b;
}

.content-of-footer {
  width: 95%;
  padding-top: 0px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-header {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 8px;
}

.socio-link .fa-brands {
  transition: all 0.5s;
}

.socio-link:hover .fa-brands {
  color: #000;
}

hr {
  border-color: #e6e6e6;
  border-top: 1px;
}

.copyright{
  font-size: 12px;
  color: #9CA3AF;
  padding-bottom: 1px;
}

p{
  padding-left: 20px;
}
